.prueba{
    border:1px dashed purple;
}

.prueba2{
    color:yellow;
}

.divEjemplo{
    border:2px solid green;
}

.elementoDiv{
    border:1px solid black;
}

.divImpar{
    background-color: green;
}

.divPar{
    background-color: red;
}