main,
header,
nav,
main section,
footer,
nav div{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/13;
}


main section div,
main section h2,
footer div,
main section form,
.area12{
    grid-column: 1/13;
}

.contenedorFlexbox{
    display: flex;
    flex-wrap: wrap;
}

.contenedorFlexbox .pelicula{
   
}

.contenedorFlexbox .pelicula:nth-child(even){
    background-color: rgb(47,79,79);
}

.contenedorFlexbox .pelicula:nth-child(odd){
    background-color: rgb(105,105,105);
}


.pelicula{
    width:31%;
    margin:1%;
    overflow: hidden;
    column-count: 1;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.75rem;
}


.pelicula:hover{
    transform: scale(1.1,1.1);
}


.pelicula img{
    object-fit: fill;
    width:100%;
    height: 200px;
}

.incorrecto{
    background-color:red;
}

.correcto{
    background-color:green;
}

.error{
    color:red;
}


.busqueda{
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
}

input[type="search"] {
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    width:25%;
    margin-right:2%;
}
.botonBusqueda{
    width:150px;
    height: 50px;
    margin-top:4px;
    margin-right: 2%;
    border:1px solid #67bcd1; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #92cfde; background-image: -webkit-gradient(linear, left top, left bottom, from(#92cfde), to(#76bdd1));
    background-image: -webkit-linear-gradient(top, #92cfde, #76bdd1);
    background-image: -moz-linear-gradient(top, #92cfde, #76bdd1);
    background-image: -ms-linear-gradient(top, #92cfde, #76bdd1);
    background-image: -o-linear-gradient(top, #92cfde, #76bdd1);
    background-image: linear-gradient(to bottom, #92cfde, #76bdd1);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#92cfde, endColorstr=#76bdd1);
}
    
.botonBusqueda:hover{
     border:1px solid #44adc6;
     background-color: #6bbed2; background-image: -webkit-gradient(linear, left top, left bottom, from(#6bbed2), to(#50abc4));
     background-image: -webkit-linear-gradient(top, #6bbed2, #50abc4);
     background-image: -moz-linear-gradient(top, #6bbed2, #50abc4);
     background-image: -ms-linear-gradient(top, #6bbed2, #50abc4);
     background-image: -o-linear-gradient(top, #6bbed2, #50abc4);
     background-image: linear-gradient(to bottom, #6bbed2, #50abc4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6bbed2, endColorstr=#50abc4);
}

.botonCancelar{
    width:150px;
    height: 50px;
    margin-top:4px;
    margin-right: 2%;
    border:1px solid #df0909; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
    background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
    background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
    background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
    background-image: -o-linear-gradient(top, #f62b2b, #d20202);
    background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
}
    
.botonCancelar:hover{
    border:1px solid #b30808;
    background-color: #e40a0a; background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
    background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
    background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
    background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
    background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
    background-image: linear-gradient(to bottom, #e40a0a, #9f0202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e40a0a, endColorstr=#9f0202);
}

.titulo {
    grid-column: 1/13;
    text-align: center;
	position: relative;
	font:  4vh Helvetica, Sans-Serif;
    color: rgba(0,0,255,0.5);
    z-index:-1;
}

.titulo:after {
	content: "MI VIDEOCLUB";
    position: absolute;  
    top: 5px;
    color: rgba(255,0,0,0.5);
    z-index:-1;
    left: 0;
    right: 0;
    margin-left: 3px;
}

@media (max-width: 750px) {
    input[type="search"],.botonCancelar,.botonBusqueda {
        width:48%;
    }

    .pelicula{
        width:31%;
    }

}

@media (max-width: 500px) {
    .pelicula{
        width:48%;
    }
  }

@media (max-width: 300px) {

    .pelicula{
        width:100%;
    }

  }

.formulario {
    grid-column: 4/8;
    display:flex;
}

.formulario .campo{
    width:50%;
}

.campo label{
    width:25%;
}

.campo input{
    width:75%;
}

main{
    min-height: 100vh;
}

footer div{
    height:100px;
    background-color: #174873;
    text-align: center;
    width:100%;
}

input[type=search] {
    transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
}
   
input[type=search]:focus{
    box-shadow: 0 0 5px rgba(2255,140,0,1);
    border: 1px solid rgba(255,140,0,1);
}
