main,
header,
nav,
main section,
footer,
nav div{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/13;
}


main section div,
main section h2,
footer div,
main section form,
.area12{
    grid-column: 1/13;
}

.contenedorFlexbox{
    display: flex;
    flex-wrap: wrap;
}


main>section>h2{
    text-align: center;
    position: relative;
    grid-column: 1/13;
}

main{
    min-height: 100vh;
}

footer div{
    height:100px;
    background-color: #174873;
    text-align: center;
    width:100%;
}

